@define-color base      #151515;
@define-color mantle    #0f0f0f;
@define-color crust     #0b0b0b;
@define-color surface0  #252525;
@define-color surface1  #3b3b3b;
@define-color surface2  #515151;
@define-color overlay0  #656565;
@define-color overlay1  #747474;
@define-color overlay2  #848484;
@define-color subtext0  #a7acba;
@define-color subtext1  #bcc2d1;
@define-color text      #d1d7e8;
@define-color lavender  #c3cbfe;
@define-color blue      #a1c3fb;
@define-color sapphire  #90d2f0;
@define-color sky       #a1e3ef;
@define-color teal      #a9e8dd;
@define-color green     #b8e9b4;
@define-color yellow    #fae8bf;
@define-color pearch    #fbc29f;
@define-color maroon    #efb3bd;
@define-color red       #f5a2b9;
@define-color mauve     #d5b8f9;
@define-color pink      #f7ceec;
@define-color flamingo  #f5d7d7;
@define-color rosewater #f7e6e3;
